---
import RichHead from "../components/RichHead.astro";
import GitHub from "../components/GitHub.astro";
import BackIcon from "../components/BackIcon.astro";

const username = "xirreal";
const profilePicUrl = `https://github.com/${username}.png`;
---

<!doctype html>
<html lang="en">
   <head>
      <RichHead />
   </head>
   <body class="p-8 bg-[#1b1026] text-gray-200 h-screen">
      <div
         class="p-4 pb-8 bg-[#372747] shadow-sm hover:shadow-md transition-shadow border border-[#51425e] rounded-2 flex flex-col items-center justify-start shadow-md max-w-3xl mx-auto"
      >
         <img src={profilePicUrl} alt={`${username}'s profile picture`} class="profile-image w-24 h-24 rounded-full mb-4 border-2 border-[#51425e]" />
         <h1 class="text-xl font-bold mb-2 text-center">404 - Plugin not found</h1>

         <p class="text-gray-400 text-center">
            The plugin you're looking for doesn't exist. <br />

            To install a plugin, you <b class="text-gray-200">need to copy the URL into shelter (or use Install Button), not open it in a browser!</b>
            <br /><br />
            Please go back to the <a href="/" class="text-[#9171ad] underline hover:text-[#bf96e3]">homepage</a> and try again. <br /><br />
         </p>

         <div class="mt-6 text-center w-full">
            <a href="/" class="text-[#9171ad] underline hover:text-[#bf96e3] inline-flex items-center gap-2 justify-center">
               <BackIcon /> Back to plugins
            </a>
         </div>
      </div>
   </body>
</html>
