<div class="mt-4">
   <a href="https://github.com/xirreal-plugins/shelter-plugins">
      <img class="inline" src="/github.svg" alt="GitHub" width="32" height="32" />
      <p class="inline ml-2 text-[#9171ad] underline hover:text-[#bf96e3]">Source code is available here</p>
   </a>
</div>
