---
const { message } = Astro.props;
---

<div class="mt-2 flex items-center gap-2 p-4 bg-[#1b102630] text-gray-200 border border-[#51425e] rounded-2 shadow-sm">
   <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
   </svg>
   <span class="text-sm font-medium">{message}</span>
</div>
